#heading{
 
  padding-top: 5%;
  font-display: fallback;
  color:aliceblue;
  text-align: center;
}
body{
  background-color: #1c2951;
  color: #FDFFFC ;
  text-align: center;
  border:  60px solid #00cef1;
  border-top: 0px;
  margin:0px;
  
}
.one{
  width: 90%;
  max-width: 400px;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}
 

#search{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  border-radius: 30px;
  flex:1;
  margin-right: 16px;
  font-size: 18px;
}
   
#inputbox{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 20px;
  flex:1;
  margin-right: 16px;
  margin-top: 10px ;
  font-size:18px;
  text-align: center;

}
.weather_icon{
  width: 130px;
  margin-top: 30px;

}
.weather h3{
  font-size: 45px;
  font-weight:500;
  margin: 15px 0 0 0;

}
.weather h2{
  font-size: 45px;
  font-weight:400;
  margin-top: -10px;

}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 20px;
  margin-top:50px ;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width:40px;
  margin-right: 10px;
}
.humidity , wind {
  width: 40px;
  margin-right: 10px;
}
.weather{
  display: none;
}
.weather h1, .weather h2 {
  font-family: 'Poppins', sans-serif;
}
.col p {
  margin: 2px 0; /* Reduce vertical spacing */
  line-height: 1.2; /* Tighter line spacing */
}
